$danger-color: #af2b38;
$danger-second-color: #f7071f;
$primary-color: #065ab4;
$primary-second-color: #097df8;

// 1rem => 16px
$font-size: 1rem;
$border-radius: 0.4rem;

@mixin input {
  padding: 10px;
  border-radius: $border-radius;
  outline: none;
  border: 0.2rem solid $primary-color;
  color: $primary-color;
  font-weight: 700;         
  font-size: $font-size;
  width: 100%;
}

.modal-back-drop {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0, 0.7);
  box-sizing: border-box;

  .modal-body {
    padding: 2rem;
    background-color: #fff;
    margin: auto;
    border-radius: $border-radius;
    animation: blowUpModal 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;

    @keyframes blowUpModal {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }

    .modal-btn {
      padding: 0.7rem;
      font-size: $font-size;
      font-weight: 700;
      outline: 0;
      border: none;
      border-radius: $border-radius;
      color: #fff;
      cursor: pointer;

      &.btn-primary {
        background-color: $primary-color;

        &:hover {
          background-color: $primary-second-color;
        }

        &:disabled {
          background-color: rgba($primary-second-color, 0.5);
          cursor: not-allowed;
        }
      }

      &.btn-danger {
        background-color: $danger-color;

        &:hover {
          background-color: $danger-second-color;
        }
      }
    }

    .modal-main {
      display: flex;
      flex-direction: column;
      padding: 25px;
      border-radius: $border-radius;
      box-sizing: border-box;

      .modal-main--input-info {
        font-weight: 700;         
        font-size: $font-size;
        color: $primary-color;
      }

      .modal-main--input-block {
        display: flex;

        .modal-main-arrow {
          margin: 0 10px 0 0;
          font-size: $font-size;
          height: 49px;
        }

        .modal-main-input {
          @include input;
  
          &:focus {
            border: 0.2rem solid $primary-second-color;
            color: $primary-second-color;
          }
        //.modal-main-input
        }

      //.modal-main--input-block
      }

      .modal-main-input--email {
        @include input;
        box-sizing: border-box;
        margin: 15px 0 0 0;

        &-err {
          padding: 10px;
          border-radius: $border-radius;
          outline: none;
          border: 0.2rem solid $danger-color;
          color: $danger-color;
          font-weight: 700;         
          font-size: $font-size;
          width: 100%;
          box-sizing: border-box;
          margin: 15px 0 0 0;
        }

        &:focus {
          border: 0.2rem solid $primary-second-color;
          color: $primary-second-color;
        }
  
      }

      
    //.modal-main
    }
  
    .modal-header, .modal-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .modal-header-heading, .modal-footer-heading  {
          margin: 0 10px 0 0px;
        }

        .modal-header-heading {
          color: $danger-color;
        }

        .modal-footer-heading {
          color: $primary-color;
        }
    }
  }
}